@import "../../styles/responsive.scss";

.chartBox {
    display: flex;
    height: 100%;

    @include md {
        flex-direction: column;
    }

    .boxInfo {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include sm {
            gap: 20px;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 5px;


            img {
                width: 25px;
                height: 25px;
            }

            span {
                font-size: 12px;
            }
        }
    }

    h3 {
        @include lg {
            font-size: 14px;
        }
    }

    .chartInfo {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .chart {
            width: 100%;
            height: 100%;
        }

        .texts {
            display: flex;
            flex-direction: column;
            text-align: right;

            .percentage {
                font-weight: bold;
                font-size: 20px;

                @include xl {
                    font-size: 14px;
                }
            }

            .duration {
                font-size: 14px;
            }
        }
    }
}
